
 body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/images/bg.png) ;
 
   height: 720px;
   width:1396px;
   
overflow-x: hidden;


}

   
.greyy
{
    color:rgb(90, 88, 88);
    font-weight: normal;
    font-size: 16px;

    padding-top: 10px;
}
.main
{
overflow: hidden;
    margin-left:35%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   

    background-color: white;
    
    
    display: block;
    position: absolute;
text-align: center;
align-content: center;
width: 420px;

padding-top: 10px;

 
  border: 1px solid #888;
  
  border-radius: 10px;
}


.item
{
   padding-bottom: 8px;
 
    color: rgb(51, 51, 51);
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   
}
.bold
{
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1.2px;
}
.textbox
{
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    height: 40px;
    width: 268px;
    padding-inline-start: 10px;
    margin-bottom: 10px;

}
.continue
{
    cursor:pointer;
        background-color: #e60023;
    border:#e60023 1px solid;
    height: 40px;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 274px;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
margin-bottom: 10px;
}
.or
{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-weight:bold;

    font-size: 12px;
    color:black;
margin-bottom: 10px;
}
.continuef
{
    cursor:pointer;
    background-color:#4d71b3;
    border:#4d71b3 1px solid;
    height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    width: 274px;
    font-size:16px;
    color:white;
    font-weight: bold;
    border-radius: 2px;
    margin-top:0px;
    margin-bottom: 10px;
}


.continueg
{
    background-color:#6691e0;
    border:#6691e0 1px solid;
    height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    width: 274px;
    font-size:16px;
    color:white;
    cursor:pointer;
    font-weight: bold;
    border-radius: 2px;
    margin-left: -16px;
}

.fb
{
    position: relative ;
      z-index: 5;
      left: 30px;
    top: -47px;
     
      bottom:-20%;
        padding: 0px 8px;
      
        padding-top:0px; 
        margin-top:5px;
        line-height: 44px;
        cursor:pointer;
    height: 24px;
    width:24px;

}
.log
{
    margin-top: 10px;
    color:black;
    font-size:16px;
    background-color:#efefef;
    border:#efefef 1px solid;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   border-radius:6px;
   margin-bottom: 10px;
}
.term
{
color:grey;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:12px;

}
.lastbutton
{
    background-color: #efefef;
    width:100%;
    padding:20px;
    font-weight: bold;
    font-size:16px;

    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 color:#333;
 border:#efefef 1px solid;

}
#tb:focus
{
border: #6995e7  solid 4px;
}
.continue:hover{
    background-color:#d80323;
}
.log:hover
{


background-color: #dbdada;

}
b:hover
{
    color:black;
}

.fb1
{
    position: relative ;
      z-index: 5;
      
     
      bottom:-20%;
        padding: 0px;
      
        padding-top:0px; 
        margin-top:5px;
        line-height: 44px;
        cursor:pointer;
    height: 24px;
    width:24px;
background-color: white;
left: -269px;
    top: 6px;
border-radius: 2px;

}
.hiw
{
 margin-top:20px;
    border: white 1px solid;
    background-color: #d80323;
    height: 38px;
    width: 131px;
    color:white;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 15px;
   font-weight: bold;
   border-radius: 2px;
}

.egg
{
   
    text-align: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
   
padding-bottom: 30px;
padding-left: 30px;
}
.egg1
{
    left: 890px;
    bottom: -307px;
    position: absolute;
    
    padding: 25px;
    text-align: left;
    background-color: #d80323;
    border-radius: 50% 50% 50% 10%;
    position: relative;
    margin-left: 25px;
    padding: 10px;
   width:270px;
   height: 270px;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 21px;
   font-weight: bold;
   color:white;
    margin: 25px;
    

    
}
.loginbutton
{
    position: relative;
    padding: 10px 14px;
    right: -1175px
}
.buttonlogin
{
    border-radius: 4px;
    background-color: #efefef;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-weight: bold;
   font-size:14px;
   color:#333;
   height: 40px;
   width:130px;
   border: #efefef 1px solid;
}
.hyper
{
    color:white;
    font-weight:normal;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-align: center;
    font-size: 12px;
    text-decoration: none;
    background-color:none;
   padding-right: 10px;
   bottom: 0px;
margin: 0px 0px 16px;
width:100%;
position: relative;
    
}
.pos
{
    bottom: 0px;
    align-content: center;
    left:300px;
    margin-left: 300px;
    margin-top:320px;
}